// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$violet-1: #1C0C5B;
$violet-2: #3D2C8D;
$violet-3: #916BBF;
$violet-4: #C996CC;
