// // // Specific CSS for your home-page
.container-homepage {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.title h1 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 3.44rem;
  text-transform: uppercase;
  margin-top: 3.12rem;
  margin-bottom: 2rem;
}

.slogan h2 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  padding-bottom: 2.87rem;
}

.cta {
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.2rem;
  width: auto;
  height: 3rem;
  margin-bottom: 2em;
}

.logo-home img {
  background: linear-gradient(0deg, #FEF4FF 4.3%, rgba(254, 244, 255, 0) 80.09%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 60%;
  width: 60%;
}

.presentation {
  margin-top: 2em;
  font-size: 1.2em;
}


.icon-text {
  text-align: center;
  padding: 1.5rem;
  min-width: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  height: 7.5rem;
  background: #FFFFFF;
  border-radius: 0.62rem;
}

.logo-banner {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.text-banner {
  width:fit-content;
  height:fit-content;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #0B0F46;
  text-align: start;
}


.btn-search {
  padding: 1rem 2rem;
  gap: 10px;
  width:fit-content;
  height:fit-content;
  background: #3C2C8D;
  box-shadow: 0px 4px 14px rgba(11, 15, 70, 0.2);
  border-radius: 40px;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50%;
  text-align: center;
}

.btn-search a {
  color: white;
  text-decoration: none;

.btn-primary {
padding: 11px 22px;
gap: 10px;
width: 220px;
height: 41px;
background: #3C2C8D;
box-shadow: 0px 4px 14px rgba(11, 15, 70, 0.2);
border-radius: 40px;
font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 50%;
text-align: center;
}

.btn-primary a {
color: white;
text-decoration: none;

}

.btn-informations {
  padding: 1rem 2rem;
  gap: 10px;
  width:fit-content;
  height:fit-content;
  background: #FFFFFF;
  border-radius: 40px;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50%;
  text-align: center;
}

.description-homepage {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0B0F46;
}

.banner-homepage {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: auto;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 1500px) {
  .text-banner {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1376px) {
  .text-banner {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1352px) {
  .text-banner {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 1311px) {
  .text-banner {
    font-size: 1rem;
  }
  .banner-homepage {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .title h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 780px) {
  .title h1 {
    font-size: 2rem;
  }
  .presentation {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 630px) {
  .cta {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 572px) {
  .title h1 {
    font-size: 1.8rem;
  }
  .text-banner {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 470px) {
  .title h1 {
    font-size: 1.5rem;
  }
  .text-banner {
    font-size: 0.65rem;
  }
}
