.ranking-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.ranking-flex p {
  margin-bottom: 0px;
}

.ranking-flex i {
  color: gold;
}

.container-classement {
  padding: 20px;
}
