<div class="container-form">
  <div class="card-form">
    <h3>Confirmes-tu la discussion ?</h3>
    <%= simple_form_for [@chatroom] do |f| %>
      <%# <%= f.input :name %>
      <%= f.submit "Discuter", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
