<div class="footer-main p-3">
  <div class="footer d-flex justify-content-around">
      <div class="footer-links align-self-center">
        <p>Retrouvez-nous sur</p>
        <a href="#"><i class="fab fa-instagram" data-toggle="tooltip" data-placement="top" title="Instagram" ></i></a>
        <a href="#"><i class="fab fa-twitter" data-toggle="tooltip" data-placement="top" title="Twitter" ></i></a>
        <a href="#"><i class="fab fa-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin" ></i></a>
      </div>
    <div class="footer-copyright align-self-center">
     <a href="#">Qui sommes-nous ?</a>
     <a href="#">Conditions d'utilisation</a>
     <a href="#">Nous contacter</a>
    </div>
  </div>
</div>
