<div class="container-homepage">
  <h1 class="text-center">The collector</h1>
  <img src="app/assets/images/thecollector-fond-gris.png">
  <h2 class="text-center">Trouvez tous les joueurs et collectionneurs autour de chez vous !</h2>
  <element class="btn-flat">Trouve les joueurs près de chez toi</element>
  <p class="text-center">The collector est une application qui recense les joueurs, les collectionneurs et
  les boutiques pour les TCG Yu-Gi-Oh !, Magic The Gathering et Pokémon partout en France.
   Inscrivez-vous et vous trouverez des personnes proches de chez vous pour compléter votre collection
   ou des joueurs pour vos duels. </p>
</div>
