.filters-button a {
  color: white;
  text-decoration: none;
}

.btn-connect {
  position: absolute;
  right: 2vh;
  bottom: 2vh;
}

.btn-register {
  position: absolute;
  left: 2vh;
  bottom: 2vh;
}
