.card-form {
  padding: 50px;
  width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}
