.card-form {
  padding: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.card-header {
  font-size: 1rem
}
