.container-form {
  max-width: 700px;
  padding: 20px;
  margin: 0vh auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
