<p>Bienvenue <%= @email %>!</p>

<p>Confirmer l'email de création de compte en cliquant qur le lien ci-dessous:</p>

<p><%= link_to 'Confirmer mon email', confirmation_url(@resource, confirmation_token: @token) %></p>
