<p>Salut <%= @resource.email %>!</p>

<p>Tu as fait la demande de changement de mot de passe. Valide le changement en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'es pas à l'origine de cette demande, ignore cet email.</p>
<p>Ton mot de passe ne changera pas tant que tu ne clique pas sur le lien.</p>
